@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Warna Background Global sesuai kertas banner */
  background-color: #fdf9f0;
  color: #2c3e50;
}

body {
  margin: 0;
  min-height: 100vh;
}