@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Background Biru Royal Gelap - diambil dari warna dasar banner */
  background-color: #0f2052; 
  color: #ffffff; /* Default text putih agar terbaca di background biru */
}

body {
  margin: 0;
  min-height: 100vh;
}